body {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999)) fixed;*/
	padding-top: 50px;
}

.main {
	/*background-color: #FFFFE0;*/
}

.container input {
    min-width: 100px;   /* depends how much minimum width you require */
}

.sidebar {
	/*background-color: #92C5FF;*/
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;
}


.navbar-brand {
	/*text-align: center;*/
	color: #FFFFFF ;
}

.table tbody>tr>td.vert-align {

	vertical-align: middle;

}

.table tbody>tr>td.fill {

	padding: 0 ;
	border:  0 ;

}

.table tbody>tr>td>input.form-control {

	padding-left: 7px ;
	padding-right: 0 ;
	/*border:  0 ;*/

}


.table tbody>tr.vert-align {

	vertical-align: middle;

}

.table tbody>tr>td>div.panel-group>div.panel-default>div.panel-heading {

	background-color: #3097D1 ;
	color: #FFF;

}

select#partitioning {

	height: 3.5rem;

}